{{! This template is responsible for formatting the layout of the songs for
    every band that is clicked on. }}

{{! Specifying page title }}
{{page-title @model.name ' songs | Rock & Roll with Octane' replace=true}}

{{! A simple example of how if-else blocks are structured in hbs}}
{{! Indicates beginning of if-block }}

<div class='mb-8 flex'>
  {{#if this.sortedSongs.length}}
    <span class='relative z-0 inline-flex shadow-sm'>
      <LinkTo
        class='rounded-l-md inline-flex items-center px-4 py-2 border border-purple-800 bg-purple-600 leading-5 font-medium text-gray-100 transition-all duration-500 delay-50 hover:text-white hover:bg-purple-800'
        data-test-rr='sort by-title-asc'
        @query={{hash s='title'}}
      >
        Title
        <FaIcon class='ml-2' @icon='angle-up' @prefix='fas' />
      </LinkTo>

      <LinkTo
        type='button'
        class='-ml-px inline-flex items-center px-4 py-2 border border-purple-800 bg-purple-600 leading-5 font-medium text-gray-100 transition-all duration-500 delay-50 hover:text-white hover:bg-purple-800'
        data-test-rr='sort-by-title-desc'
        @query={{hash s='-title'}}
      >
        Title
        <FaIcon class='ml-2' @icon='angle-down' @prefix='fas' />
      </LinkTo>

      <LinkTo
        class='-ml-px inline-flex items-center px-4 py-2 border border-purple-800 bg-purple-600 leading-5 font-medium text-gray-100 transition-all duration-500 delay-50 hover:text-white hover:bg-purple-800'
        type='button'
        data-test-rr='sort-by-rating-asc'
        @query={{hash s='rating'}}
      >
        Rating
        <FaIcon class='ml-2' @icon='angle-up' @prefix='fas' />
      </LinkTo>

      <LinkTo
        class='rounded-r-md -ml-px inline-flex items-center px-4 py-2 border border-purple-800 bg-purple-600 leading-5 font-medium text-gray-100 transition-all duration-500 delay-50 hover:text-white hover:bg-purple-800'
        type='button'
        data-test-rr='sort-by-rating-desc'
        @query={{hash s='-rating'}}
      >
        Rating
        <FaIcon class='ml-2' @icon='angle-down' @prefix='fas' />
      </LinkTo>
    </span>
  {{/if}}

  <div class='relative ml-auto rounded-md shadow-sm'>
    <label for='search-box' class='sr-only'>Search</label>
    <input
      class='border rounded-md py-2 px-3 block w-full pr-10 text-gray-800 sm:text-sm sm:leading-5'
      id='search-box'
      data-test-rr='search-box'
      value={{this.searchTerm}}
      {{on 'input' this.updateSearchTerm}}
    />
    <div
      class='absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none'
    >
      <FaIcon class='h-5 w-5 text-gray-400' @icon='search' @prefix='fas' />
    </div>
  </div>

</div>

{{#if this.sortedSongs.length}}
  <ul class='w-full'>
    {{#each this.sortedSongs as |song|}}
      {{! Looping through our list of songs }}
      <li class='mb-2 w-full' data-test-rr='song-list-item'>
        {{capitalize song.title}}
        <span class='float-right'>
          {{! here is where we pass in the rating of the song to the StarRating component. }}
          {{! component invocatio is StarRating and args are @rating and @onUpdate }}
          <StarRating
            @rating={{song.rating}}
            @onUpdate={{fn this.updateRating song}}
          />
        </span>
      </li>
    {{/each}}
  </ul>

{{else}}
  {{! Begin else code }}
  <p class='text-center' data-test-rr='no-songs-text'>
    The band has no songs yet.
  </p>
{{/if}}
{{! Indicates end of if-block }}
{{#if this.showAddSong}}
  <div class='flex justify-center mt-2'>
    <button
      type='button'
      class='px-4 py-2 rounded bg-purple-600 shadow-md hover:shadow-lg hover:text-white hover:bg-purple-800 focus:outline-none'
      {{on 'click' (set this 'showAddSong' false)}}
    >
      Add song
    </button>
  </div>
{{else}}
  <div class='mt-6 flex'>
    <label for='title' class='sr-only'>Title</label>
    <input
      type='text'
      id='title'
      class='text-gray-800 bg-white rounded-md py-2 px-4'
      placeholder={{this.newSongPlaceholder}}
      value={{this.title}}
      data-test-rr='new-song-title'
      {{on 'input' this.updateTitle}}
    />

    <button
      type='button'
      class='ml-4 px-4 py-2 rounded bg-purple-600 shadow-md hover:shadow-lg hover:text-white'
      data-test-rr='save-song-button'
      {{on 'click' this.saveSong}}
    >
      Save
    </button>

    <button
      type='button'
      class='ml-2 px-4 p-2 rounded bg-white border border-bg-purple-600 shadow-md text-purple-600 hover:shadow-lg'
      {{on 'click' this.cancel}}
    >
      Cancel
    </button>
  </div>
{{/if}}

{{!-- Note: Handlebars has a nifty extension of the #each helper. It has an else branch whose contents gets rendered
if the collection passed to it is falsey/empty: {{#each ...}}...{{else}}..{{/each}}. We
didn't use that above but it is a handy tool! --}}