{{! This template is responsible for formatting the layout of the songs for
    every band that is clicked on. }}

{{! Specifying page title }}
{{page-title @model.name ' songs | Rock & Roll with Octane' replace=true}}

{{! A simple example of how if-else blocks are structured in hbs}}
{{! Indicates beginning of if-block }}
{{#if @model.songs.length}}
  <ul class='w-full'>
    {{#each @model.songs as |song|}}
      {{! Looping through our list of songs }}
      <li class='mb-2 w-full'>
        {{song.title}}
        <span class='float-right'>
          {{! here is where we pass in the rating of the song to the StarRating component. }}
          {{! component invocatio is StarRating and args are @rating and @onUpdate }}
          <StarRating
            @rating={{song.rating}}
            @onUpdate={{fn this.updateRating song}}
          />
        </span>
      </li>
    {{/each}}
  </ul>

{{else}}
  {{! Begin else code }}
  <p class='text-center' data-test-rr='no-songs-text'>
    The band has no songs yet.
  </p>
{{/if}}
{{! Indicates end of if-block }}
{{#if this.showAddSong}}
  <div class='flex justify-center mt-2'>
    <button
      type='button'
      class='px-4 py-2 rounded bg-purple-600 shadow-md hover:shadow-lg hover:text-white hover:bg-purple-500 focus:outline-none'
      {{on 'click' (set this 'showAddSong' false)}}
    >
      Add song
    </button>
  </div>
{{else}}
  <div class='mt-6 flex'>
    <label for='title' class='sr-only'>Title</label>
    <input
      type='text'
      id='title'
      class='text-gray-800 bg-white rounded-md py-2 px-4'
      placeholder='Title'
      value={{this.title}}
      data-test-rr='new-song-title'
      {{on 'input' this.updateTitle}}
    />

    <button
      type='button'
      class='ml-4 px-4 py-2 rounded bg-purple-600 shadow-md hover:shadow-lg hover:text-white'
      data-test-rr='save-song-button'
      {{on 'click' this.saveSong}}
    >
      Save
    </button>

    <button
      type='button'
      class='ml-2 px-4 p-2 rounded bg-white border border-bg-purple-600 shadow-md text-purple-600 hover:shadow-lg'
      {{on 'click' this.cancel}}
    >
      Cancel
    </button>
  </div>
{{/if}}

{{!-- Note: Handlebars has a nifty extension of the #each helper. It has an else branch whose contents gets rendered
if the collection passed to it is falsey/empty: {{#each ...}}...{{else}}..{{/each}}. We
didn't use that above but it is a handy tool! --}}